venv/
.env/
.env

.streamlit/secrets.toml

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log

.vscode/

.AppleDouble
.LSOverride

*.tmp
*.swp

langchain.db

dist/
build/
*.egg-info/
